.lbf-loading{
	display:none;
	overflow:hidden;
	height:18px;
	margin:0 -22px 0 6px;
	padding-left:16px;
	line-height:18px;
	vertical-align:middle;
	background: url(//combo.b.qq.com/lbf/0.7.2.1/ui/theme/bootstrap/images/FileUploader/loading.gif) no-repeat center center;

	_position:relative;
}

.lbf-draghover{
	box-shadow:0 0 5px rgba(0,0,0,.3) inset;
}
.lbf-swfUpload{
	position:absolute;
	top:0;
	left:0;
	display:inline-block;
	opacity:0;

	filter:alpha(opacity=0);
}
.lbf-fileUpload-trigger{
    position: relative;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle!important;
}
.lbf-fileUpload-container{
    position:relative;
    display: inline-block;
    margin-right:26px;
    vertical-align: middle;
}
.lbf-fileUpload-container .lbf-loading{
    position: absolute;
    top: 7px;
    right: -22px;
    margin: 0;
}
.lbf-fileUpload-input{
    position: absolute;
    z-index: 2;
    font-size: 100px;
    cursor: pointer;
    opacity: 0;

    filter:alpha(opacity=0);
}
.lbf-fileUpload-form{
    margin:0;
}
.lbf-fileUpload-disabled,
.lbf-fileUpload-disabled:hover,
.lbf-fileUpload-container .lbf-fileUpload-disabled,
.lbf-fileUpload-container .lbf-fileUpload-disabled:hover{
    cursor: default;
    color: #999;
}
.lbf-fileUpload-disabled .lbf-fileUpload-input,
.lbf-fileUpload-disabled .lbf-swfUpload{
    visibility: hidden;
}