/**
 * @fileOverview
 * @author sqchen
 * @version 1
 * Created: 15-6-3 上午11:26
 */
.lbf-date-picker {
  position: absolute;
  z-index: 2;

  display: none;
  border: 0 rgba(0, 0, 0, 0);
  border-radius: 2px;
  background-color: #fff;
  background-clip: padding-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}
.lbf-date-picker-btn-next {
  right: 10px;

  left: auto;
  background-position: -23px 0;
}
.lbf-date-picker-btn-next:hover {
  background-position: -69px 0;
}
.lbf-date-picker-btn-next.disabled:hover {
  background-position: -23px 0;
}
.lbf-date-picker-time-table { padding-top:10px; }
.lbf-date-picker-time-table .lbf-date-picker-time {
  display: inline-block;
  border: none;
  width: 51px;
  height: 25px;
  font-family: "microsoft yahei";
  line-height: 25px;
  cursor: default;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  color: #545a6c;
}
.lbf-date-picker-time-table .lbf-date-picker-time:hover,
.lbf-date-picker-time-table .lbf-date-picker-time-selected {
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  color: #fff;
  background: #00a5e0;
  text-decoration: none;
}
.lbf-date-picker,
.lbf-date-picker-time-table {
  padding: 5px;
  *width: 202px;
}
.lbf-date-picker-time-table th,
.lbf-date-picker-time-table td {
  padding: 0;
}